body {
    background-color: #e1f4f3;
    text-align: center;
}

.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
.fa:hover {
      opacity: 0.7;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-github {
    background: #dd4b39;
    color: white;
  }